#Proxy Config
IS_PROXY_REQUIRED = true
PROXY_TEST_POST_URL = http://www.whatismyip.org
PROXY_TEST_SUCCESS_CONTENT = 69.253.179.179
IS_PROXY_SPEED_TEST_REQUIRED = false
IS_PROXY_ANONYMITY_TEST_REQUIRED = false

# config in case of Direct URLs 
IS_DIRECT_URL_REQUEST = true
DIRECT_PAGE_URL = http://search.yahoo.com/search
DIRECT_URL_METHOD = GET

# config in case of search form
IS_FORM_SUBMISSION_REQUIRED = false

#login information
IS_LOGIN_REQUIRED = false

#Content files config
CONTENT_FILES = sideAds.content,topAds.content

IS_MULTIPLE_REQUESTS=true
MULIPLE_REQUESTS_UNIQUE_KEY_PARAM_NAME=p

HTTP_USER_AGENT = Mozilla/4.0 (compatible; MSIE 7.0b; Windows NT 6.0)
