#Proxy Config
IS_PROXY_REQUIRED = false
PROXY_TEST_POST_URL = http://sirftravel.com/servlet/testProxy
PROXY_TEST_SUCCESS_CONTENT = Proxy_Working_fine
IS_PROXY_SPEED_TEST_REQUIRED = false
IS_PROXY_ANONYMITY_TEST_REQUIRED = false
PROXY_IP_CHECK_URL = http://sirftravel.com/servlet/whatIsMyIP
PROXY_SPEED_TEST_URL = http://sirftravel.com/heavyFile.zip

#login information
IS_LOGIN_REQUIRED = true
LOGIN_PAGE_URL = http://resdex.naukri.com/resdex/files/login.php
LOGIN_PAGE_METHOD = GET
LOGIN_PAGE_FORM_INDEX =0
LOGIN_PAGE_SUCCESS_CONTENT = You are logged in as</B>
LOGIN_RETRY_COUNT = 5
LOGIN_RETRY_INTERVAL = 10 # (in seconds)
IS_LOGIN_RESET_REQUIRED = true
LOGIN_RESET_LINK = Reset
LOG_OUT_LINK = Log Out
IS_USING_BASIC_HTTP_AUTH = false

# config in case of Direct URLs
IS_DIRECT_URL_REQUEST = false
DIRECT_PAGE_URL = 
DIRECT_URL_METHOD = 

# config in case of search form
IS_FORM_SUBMISSION_REQUIRED = true
SEARCH_FORM_URL = http://resdex.naukri.com/resdex/files/search.php?a=d&type=adv
SEARCH_FORM_METHOD = POST
SEARCH_FORM_INDEX = 1

#Content files config
CONTENT_FILES = sideAds.content,topAds.content


HTTP_USER_AGENT = Mozilla/4.0 (compatible; MSIE 7.0b; Windows NT 6.0)

#(in seconds)
SLEEP_INTERVAL_AFTER_EACH_REQUEST = 10

#areMultipleResultPages=
#nextResultPageURL=
#HTTP_REFERRAL =